TIKTOK (1).json
{
  "name": "TIKTOK",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Промт'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1264,
        2128
      ],
      "id": "fc845e1e-0941-4686-bb55-b52912cf09ab",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1344,
        2352
      ],
      "id": "8a2034a3-69c2-4f85-945c-5597c9808108",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "U6IqUtord7rBEZ4q",
          "name": "Anton"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "__manual_user__",
        "userManual": "={{ $('Start').item.json.profile_username }}",
        "platform": [
          "tiktok"
        ],
        "title": "={{ $('AI Agent3').item.json.output }}",
        "tiktokTitle": "=",
        "description": "=",
        "video": "={{ $('Start').item.json.video_url }}",
        "scheduledDate": "={{ $('Start').item.json.publish_at }}"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        1616,
        2128
      ],
      "id": "276d58b2-7304-4526-b3f8-650d9492095d",
      "name": "TT2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "uploadPostApi": {
          "id": "jd48dwDfUotaDjVa",
          "name": "Upload Post account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_path_split",
              "type": "any"
            },
            {
              "name": "video_path",
              "type": "any"
            },
            {
              "name": "profile_username",
              "type": "any"
            },
            {
              "name": "video_url",
              "type": "any"
            },
            {
              "name": "publish_at",
              "type": "any"
            },
            {
              "name": "video_md"
            }
          ]
        }
      },
      "id": "8799ba3c-7e41-437c-873a-a12802439c04",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        32,
        2128
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "Плати",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4b0bc092-98b4-42fb-8599-2a1fe96af501"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Плати по МИРУ ТГ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "216e0edb-a87f-48f5-a07d-74cdc3cf1bf5",
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "LifeProtein",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Протеин"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "729f46ed-b6f3-4d28-9f83-897936e46396",
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "=GQbox",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Зарядка"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa6e1fe8-4a87-499d-87b2-c5b7ea7c1703",
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "REX",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08d06019-cf46-4dbc-aaa1-946e586b1efd",
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "SYNERGETIC",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SYNERGETIC"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        672,
        2096
      ],
      "id": "1ab20997-95e7-4523-834e-ca1306800d37",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f8fe3d3-d281-4c33-a323-3b916bf56a2c",
              "name": "Промт",
              "value": "=Ты — эксперт по нативному женскому сторителлингу и SMM-копирайтингу, создающий готовые тексты под Reels.\n\nНа вход ты получаешь:\n\nПУТЬ К ВИДЕОФАЙЛУ:\n{{ $json.video_path }}\n\nПо пути к файлу автоматически определи тип сервиса:\n\nесли путь содержит tg, telegram, bot, telebot, tgbot, ppworld, pp_miru → это Telegram-бот «плати по миру»\n\nесли путь содержит ya, yandex, ynd, market, y_service → это Яндекс-сервис для выпуска карты\n\nЕсли в пути нет явного указания — выбирай Telegram-бот как значение по умолчанию.\n\nИз названия папки выдели имя автора:\nФормат папки:\nProject-<serviceType>-<ИмяАвтора>\nЕсли имени нет → ничего не выводи и не замещай «null».\n\n❌ НИКОГДА НЕ ПИШИ:\n\nслужебные строки\nобъяснения\nанализ\nлогику\nслово «сценарий»\nслово «аналитика»\nповторы входных данных\nназвания папок\nлюбые значения null\nничего, кроме финального текста + хэштегов (+ #byИмя, если есть)\n\n🔥 ОБЩИЕ ПРАВИЛА ДЛЯ ОБОИХ СЕРВИСОВ\n\nТекст всегда:\n\nживой, женский, мягкий, лёгкий, разговорный\n\nот первого лица\n\nкороткие фразы, без канцеляризмов\n\nбез повторов\n\nбез технических терминов\n\nбез служебных вставок\n\nХЭШТЕГИ:\nвсегда начинай с трёх обязательных:\n#платипомиру #оплатазаграницей #путешествия\nдальше:\n\nесли Telegram → +17 тематических хэштегов (всего 20)\n\nесли Яндекс → +3–5 тематических хэштегов\nВсе хэштеги уникальные, не повторяются.\nВ конце — персональный тег #byИмяАвтора, если имя найдено.\n\n👉 ЛОГИКА ВЫБОРА СЦЕНАРИЯ\nЕсли определён TELEGRAM-БОТ:\n\nФормат: 2–5 коротких абзацев, лёгких и дружеских.\n\nОбязательно упомяни:\n\nвыпустить карту можно за 5 минут прямо в Telegram\n\nнужно открыть Telegram, ввести в поиске «плати по миру», зайти в бота\n\nкарта пополняется через СБП\n\nкарта подключается к Apple Pay\n\nпокажи боль: не получается оплатить за границей / подписку / сервис\n\nпокажи решение: бот помогает мгновенно\n\nВ конце:\n20 хэштегов (первые три фиксированные + 17 уникальных), затем #byИмяАвтора если есть.\n\nЕсли определён ЯНДЕКС-СЕРВИС:\n\nФормат: короткое, дружелюбное, цепляющее описание.\n\nОбязательно упомяни:\n\nкарта пополняется через СБП\n\nкарта привязывается к Apple Pay\n\nпуть оформления карты:\nОткрываем Яндекс → «плати по миру» → сайт → выпуск за 5 минут\n\nвыгоды: удобство, скорость, возможность оплатить зарубежные сервисы и покупки\n\nпростой человеческий ритм речи, без тяжёлых конструкций\n\nВ конце:\nобязательные три хэштега + 3–5 тематических, затем #byИмяАвтора если есть.\n\n🔥 ФИНАЛЬНЫЙ ФОРМАТ ВЫВОДА:\n\n<готовый текст описания>\n\n<строка хэштегов (20 для Telegram / 3–5 доп. для Яндекс) + #byИмяАвтора>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        1840
      ],
      "id": "8cc62df7-7f86-434c-b304-c631672af646",
      "name": "Плати по миру ТГ"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c2798-26fc-468a-ab86-ac02ad5b7a74",
              "name": "Промт",
              "value": "=Ты — эксперт по нативному женскому сторителлингу, создающий тексты под Reels и лайфстайл-заметки.\nНа вход ты получаешь:\n\n1) ВКУС продукта:\n{{ $json.video_path.split(\"/\")[4] }}\n\n2) ПУТЬ К ФАЙЛУ:\n{{ $json.video_path }}\n\nИз пути к файлу выдели название папки автора:\n\n\nОна имеет формат:\nLifeProtein-<вкус>-<ИмяАвтора>.\nЕсли явного  человеческого имени нет, игнорируй это\n\nНИКОГДА НЕ ПИШИ:\n\nслужебные строки\n\nанализ входных данных\n\nшаги рассуждений\n\nвнутреннюю логику\n\nпояснения\n\nслово «сценарий»\n\nслово «аналитика» или подобные\n\nисходные данные\n\nназвание папок\n\nзначения null\n\nничего, что не является финальным текстом для публикации\n\nВЫВОД ДОЛЖЕН СОСТОЯТЬ ТОЛЬКО ИЗ:\n\nфинального текста по правилам выбранного вкуса\n\nстроки хэштегов\n\nи, если автор найден → одного дополнительного хэштега #byИмя\n\nЕсли имя не найдено → просто НЕ выводить персональный хэштег.\nНЕ писать слово «null», НЕ писать объяснение, просто пропустить.\n\n🔥 ГЛАВНОЕ ПРАВИЛО:\n\nНезависимо от вкуса, это всегда протеиновый напиток (жидкая форма).\nЕсли вкус = «коллаген», используй формулировку:\n«протеиновый напиток с коллагеном»,\nникогда не писать «попробовала коллаген» или любые перекусы.\n\n👉 СЦЕНАРИЙ 1 — ШОКОЛАД\n\nФормат: нативное Reels-описание от первого лица.\nТон: мягкий, честный, личный, без продаж.\n\nОбязательные элементы:\n\nестественное упоминание: шоколадный протеиновый напиток\n\nартикулы: wildberries — #WW194190, ozon — #1928680358\n\nсостояние «до» и «после»\n\nпочему решила попробовать\n\nчто удивило\n\nнативно упомянуть «нашла товар на marketplace»\n\nв конце: ровно 20 уникальных русских хэштегов, обязательный #протеин, запрещён #лайфпротеин\n\nхэштеги короткие (1–2 слова)\n\nПосле этих 20 хэштегов — добавить персональный тег #byИмяАвтора\n\n👉 СЦЕНАРИЙ 2 — КОЛЛАГЕН\n\nФормат: 2–4 предложения, тёплая речь «как подруга».\n\nОбязательные элементы:\n\nбытовой контекст: офис, зал, дорога, утро/вечер, тренировка, рутина\n\nконкретная микроситуация\n\nстрого фраза: «нашла на вб — #WW194193 и на озон — #600851565»\n\nописать пользу: порционные пакетики, ассорти вкусов, нет тяжести, снижает тягу к сладкому\n\nпродукт всегда называть только: «протеиновый напиток с коллагеном»\n\nФинал:\n\n20 уникальных хэштегов (спорт, ПП, энергия, женский фитнес, здоровье)\n\nникаких повторов\n\nпосле 20 хэштегов → персональный хэштег #byИмяАвтора\n\nФормат вывода:\n\n<текст 2–4 предложения>\n\n<пустая строка>\n\n<20 хэштегов + персональный #byИмяАвтора>\n\n👉 СЦЕНАРИЙ 3 — АССОРТИ ВКУСОВ\n\nФормат: 1 абзац (3–4 предложения), женский лайфстайл.\n\nСодержание:\n\nкак протеиновый напиток помогает в жизни\n\nснижает тягу к сладкому / даёт сытость / помогает вечером / баланс\n\nмягкая польза, без агрессии\n\nестественное упоминание «ассорти вкусов»\n\nартикулы:\n«Нашла на вб — #WW194189, ещё видела на озон — #600826593»\n\nТребования:\n\n450–700 символов\n\nестественный разговор\n\nникаких профтерминов\n\nне обещать похудения\n\nв конце ≥20 wellness-хэштегов, обязательный #протеин\n\nпосле них → персональный хэштег #byИмяАвтора\n\nФормат вывода:\n\n<абзац>\n\n<хэштеги + #byИмяАвтора>\n\n📌 ОБЩИЕ ПРАВИЛА\n\nВсегда от первого лица, от девушки\n\nВсегда только «протеиновый напиток»\n\nМягкий, честный, нативный стиль\n\nБез маркетинга и без слова «похудение»\n\nХэштеги всегда уникальные\n\nВ конце ВСЕГДА добавлять #byИмяАвтора",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        2032
      ],
      "id": "356450a7-06d1-4c0b-ad78-fdc8770f7fae",
      "name": "Протеин"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c2798-26fc-468a-ab86-ac02ad5b7a74",
              "name": "Промт",
              "value": "=Ты — эксперт по нативному женскому сторителлингу, создающий короткие живые описания в формате реального женского отзыва о беспроводной зарядке 3-в-1.\n\nПиши легко, бытово, естественно — будто девушка делится находкой с подругой.\n\n📌 ВХОДНЫЕ ДАННЫЕ:\n\nПуть к видеофайлу:\n{{ $json.video_path }}\n\nОпредели имя автора из пути к файлу.\nФормат папки:\nProject-Charger-<ИмяАвтора>\n\nЕсли имя найдено → в конце всегда добавляй персональный хэштег #byИмяАвтора\nЕсли нет → ничего не добавляй и не пиши никаких заглушек.\n\n❌ НИКОГДА НЕ ПИШИ:\n\nслужебные строки\nанализ входных данных\nрассуждения\nобъяснения\nслово «сценарий»\nзначения null\nназвания папок\nлюбые подсказки модели\n\nВыводи только готовый текст + хэштеги.\n\n🔥 СТРУКТУРА ТЕКСТА (строго соблюдать)\n1-е предложение:\n\nМаленькая бытовая сцена или наблюдение.\n\nПодходящие темы:\nрабочий стол, прикроватная тумбочка, утро, вечер, мягкая подсветка, порядок, отсутствие проводов, аккуратный вид, зарядка трёх устройств одновременно, подарок, сериал, спокойствие, рабочие ритуалы.\n\nВажно: сцена должна быть конкретной, как в примерах 1–16.\n\n2-е предложение:\n\nКороткое впечатление / ощущение / вывод:\nлюблю, удобно, не греется, аккуратно выглядит, всё заряжается до 100%, стало меньше хаоса, приятно пользоваться.\n\nВ конце второго предложения ОБЯЗАТЕЛЬНО добавь артикула:\n«Нашла на ВБ — #WW229434 и на Ozon — #1615196121.»\n\nТон — мягкий, женский, ежедневный.\nБез рекламных конструкций.\n\n🔥 ХЭШТЕГИ (строго 2 строки)\nСтрока 1:\n\n3 основных хэштега, где всегда присутствует артикул Wildberries:\nформат:\n#ключевое_слово #ключевое_слово #WW229434\n\n(ключевые слова выбираются по теме: уют, дом, техника, порядок и т.п.)\n\nСтрока 2:\n\n18–20 дополнительных хэштегов:\n\nТема:\nуют, дом, минимализм, техника, зарядка, женский отзыв, порядок, лайфхаки, комфорт, Apple, станция3в1, рабочее место, подсветка, гаджеты, спальня, тумбочка, офис, кабели, аккуратность, вечерние ритуалы.\n\nПравила:\n– никаких повторов в пределах одной генерации;\n– не сокращать количество;\n– не дублировать разные наборы между генерациями.\n\nПосле всех хэштегов, если найден автор — добавь #byИмяАвтора.\n\n🔥 СМЫСЛОВОЙ КОРИДОР\n\n(строго соблюдать)\n\nТы описываешь только бытовые, понятные ситуации:\n\nспальня, рабочий стол, тумбочка, утро/вечер, семья, порядок, отсутствие проводов, спокойствие, удобная зарядка трёх устройств, аккуратный внешний вид, комфорт, мягкая подсветка, ритуалы ухода за собой, работа за компьютером, чистое пространство.\n\nЗапрещено:\n– писать рекламно;\n– использовать длинные фразы;\n– менять формат структуры;\n– опускать артикулы;\n– делать меньше хэштегов.\n\n🔥 ФИНАЛЬНЫЙ ФОРМАТ ВЫВОДА:\n\n<2 предложения (строго по структуре)>\n\n<строка с 3 основными хэштегами>\n\n<строка с 18–20 доп. хэштегов + #byИмяАвтора, если есть>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        2224
      ],
      "id": "6095c469-8b41-44d8-9a9d-77c01ac43fc7",
      "name": "Зарядка"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c2798-26fc-468a-ab86-ac02ad5b7a74",
              "name": "Промт",
              "value": "=Ты — эксперт по нативному женскому сторителлингу. Создавай короткие, живые, бытовые описания продукта — как мини-заметки, будто девушка рассказывает подруге, когда и как использует этот продукт в своей реальной жизни.\n\n📌 ВХОДНЫЕ ДАННЫЕ\n\nПуть к файлу:\n{{ $json.video_path }}\n\nОпредели имя автора из пути:\nФормат:\nProject-Brownie-<ИмяАвтора>\n\nЕсли имя найдено → в конце хэштегов добавь #byИмяАвтора\nЕсли имени нет → ничего не добавляй и не пиши заглушки.\n\n❌ НИКОГДА НЕ ПИШИ:\n\nслужебные строки\nаналитику\nрассуждения\nпояснения\nзначения null\nформат папок\nничего, кроме финального текста + хэштегов\n\n🔥 СТРУКТУРА КАЖДОГО ТЕКСТА\n1️⃣ ПЕРВОЕ ПРЕДЛОЖЕНИЕ — СЦЕНА ИЗ ЖИЗНИ\n\nЖивая конкретная бытовая ситуация, подходящие темы:\n\nдорога, работа, учёба, спортзал, раннее утро, вечер с чаем, долгий день, машина, сумка, пауза между делами, мини-перекус, желание сладкого без срывов, спасение в занятости, удобство «всегда под рукой».\n\nЗдесь должен быть микроповод:\nудобно, быстро, хватает до обеда, не тянет на сладкое, спасает в плотном графике.\n\nВажно: Каждый текст — новая сцена, уникальная деталь.\n\n2️⃣ ВТОРОЕ ПРЕДЛОЖЕНИЕ — ВПЕЧАТЛЕНИЕ\n\nКороткое ощущение или вывод:\nвкусно, удобно, хватает одного, мягкие, не приторные, экономят время, приятный формат, помогают не тянуться к булочкам.\n\nПосле этого ОБЯЗАТЕЛЬНО допиши блок:\n\nПромокод на Ozon «REX2026» — даёт скидку 20% на всю продукцию, артикул на OZON — #713021968, на WB — #WW218669.\n\n3️⃣ ХЭШТЕГИ (строго с новой строки)\n\n1-я строка — всегда:\n#брауни #ozon #713021968 #WW218669\n\n2-я строка — 15–20 хэштегов:\nможно рандомизировать порядок, но обязательно по тематике:\n\n#перекус #безсахара #ассорти #едаудобно #минидесерт #баланседа #спорт #энергия #каждыйдень #мягко #приятно #девушказож #едаивремя #активность #workoutgirl #заряд #sweetmoment #healthygirl #умныйперекус #быстроудобно\n\nЕсли найден автор → в конце второй строки добавь #byИмяАвтора.\n\n🔥 ТОН\n\n— мягкий женский голос\n— разговорно, естественно\n— будто подруга делится находкой\n— никаких сложных конструкций\n— никакой рекламы в лоб\n— простые фразы\n\n🌿 ВАЖНО\n\n— каждый текст уникален\n— конкретная новая микросцена каждый раз\n— никаких повторов формулировок\n— структура всегда соблюдается",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        2416
      ],
      "id": "500eeb9b-5571-42e4-8cdd-211dab5cc8d9",
      "name": "REX"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://cloud-api.yandex.net/v1/disk/resources",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $json.video_path }}"
            },
            {
              "name": "permanently",
              "value": "true"
            },
            {
              "name": "md5",
              "value": "={{ $json.video_md5 }}"
            },
            {
              "name": "force_async",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xDUkIsTGLrFOyDR4vyjFVprcWtJyQ49C_x4r4XoU82ZPru4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        2112
      ],
      "id": "5908315f-daed-4192-b3cc-74634ca49142",
      "name": "Удаление1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f5e0998-d346-49e5-9c4d-f08f49e0f045",
              "name": "video_path",
              "value": "={{ $('Start').item.json.video_path }}",
              "type": "string"
            },
            {
              "id": "a4b44b79-9cc6-4441-8c2b-08a6be5c87cc",
              "name": "profile_username",
              "value": "={{ $('Start').item.json.profile_username }}",
              "type": "string"
            },
            {
              "id": "1a0a3c40-4ea1-4e22-963c-506c1ece73c4",
              "name": "video_md",
              "value": "={{ $('Start').item.json.video_md }}",
              "type": "string"
            },
            {
              "id": "ed5182fb-96f0-4a61-9d09-91bc95e79e17",
              "name": "video_path_split",
              "value": "={{ $('Start').item.json.video_path_split }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        1888
      ],
      "id": "85987c2a-2d86-4997-9a63-235d1ad58e5e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        2128
      ],
      "id": "e55aed1a-0fa9-405e-b004-69bce59a546e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c2798-26fc-468a-ab86-ac02ad5b7a74",
              "name": "Промт",
              "value": "=Ты — эксперт по нативному женскому сторителлингу. Твоя задача: создать короткую, живую заметку о продукте, опираясь на путь файла и специфические примеры для каждой категории.\n\n🧩 1. АНАЛИЗ ПУТИ И СТИЛИСТИКА ({{ $json.video_path }})\nНайди ключевые слова в пути и примени соответствующий шаблон:\n\nЗубная паста / Clickbait\n\nАртикул: #WW230363\n\nСтиль: Максимально кратко. Суть: набор утро/вечер, эффект через пару дней, налёт уходит.\n\nЗубная паста / Product\n\nАртикул: #WW230367\n\nСтиль: Личный сторителлинг. Темы: кофейный налёт, чувствительность эмали, «взяла на пробу — удивилась», «улыбка стала свежее».\n\nSelected Cherry / Clickbait\n\nАртикул: #WW230373\n\nСтиль: Коротко про зимний уход. Темы: мягкая вишня, моментально убирает сухость после улицы, не липнет, деликатный шлейф.\n\nSelected Cherry / Product\n\nАртикул: #WW230375\n\nСтиль: Эмоциональный сторителлинг. Темы: спасение рук в морозы, деликатный аромат на шарфе, использование после тренировки (кожа не стянута), спасение шелушений на локтях.\n\nКапсулы Сакура / Clickbait\n\nАртикул: #WW230380\n\nСтиль: Фокус на удобстве. Темы: «не надо ничего отмерять», «быстро и без лишних движений», белое выглядит свежее, цвет не тускнеет.\n\nКапсулы Сакура / Product\n\nАртикул: #WW230375\n\nСтиль: Глубокий бытовой опыт. Темы: аромат чистоты без резкости, мягкость полотенец после сушки, бельё дольше остаётся свежим, «эко-быт без стресса».\n\nHome collection\n\nАртикул: #2854022197\n\nСтиль: Атмосфера дома, уют, эстетичные детали, порядок в удовольствие.\n\nАвторство: Если в пути есть Project-Brownie-<ИмяАвтора>, добавь #byИмяАвтора в конец хэштегов.\n\n🖋 2. ПРАВИЛА ТЕКСТА\nТон: Подружеский, «заметка в сторис», без сложных конструкций.\n\nСтруктура: 1. Живой текст (1-3 предложения). 2. Строка: Нашла на Wb — [АРТИКУЛ] 3. Хэштеги (2 строки: 1-я — главные теги, 2-я — 15-20 тематических + автор).\n\n❌ 3. СТРОГИЕ ЗАПРЕТЫ\nНикакой аналитики, пояснений («Вот ваш текст:») или кавычек.\n\nНикаких значений null. Только финальный результат.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        2624
      ],
      "id": "0d92cf74-8e18-4178-80fe-f34ce29a94ff",
      "name": "SYNERGETIC"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1872,
        1984
      ],
      "id": "d8e5cd87-86a9-4164-997c-272041d67049",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "video_path_split": "Smart",
          "video_path": "disk:/ВИДЕО/Ирина Иванова/Smart/Плати по миру/Плати по миру-тг канал/copy_C9648A6B-3039-4FE2-9DC2-AC3199310231.mov",
          "profile_username": "Smart18",
          "video_url": "https://downloader.disk.yandex.ru/disk/05ccb2921e5dbc45301a46d584b905af9ea54d22f4d5b0619e53192361696624/695081bc/m6HkhbuWg0wyE4FG475KAQiW0konRoYF-OsoWtVsUoE9VsALF1haikyOPc9eZF-1Z_OGP5jY00VefUzE0LbEnw%3D%3D?uid=40028244&filename=copy_C9648A6B-3039-4FE2-9DC2-AC3199310231.mov&disposition=attachment&hash=&limit=0&content_type=video%2Fquicktime&owner_uid=40028244&fsize=11893066&hid=bfcd0c6425815a19322c481088468646&media_type=video&tknv=v3&etag=29d155834f6fb6f74a32db80fd3af1aa",
          "publish_at": "2025-12-28T16:23:11.230Z",
          "video_md": "29d155834f6fb6f74a32db80fd3af1aa"
        }
      }
    ]
  },
  "connections": {
    "AI Agent3": {
      "main": [
        [
          {
            "node": "TT2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Плати по миру ТГ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Протеин",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Зарядка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SYNERGETIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Плати по миру ТГ": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Протеин": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Зарядка": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REX": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT2": {
      "main": [
        [
          {
            "node": "Удаление1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SYNERGETIC": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f70995a-e252-4e0c-bd61-9aada0996661",
  "meta": {
    "instanceId": "8fbaf9cc31ee8207c14f521e964eb85fad125c400327140a73864621efa3e2b9"
  },
  "id": "p95IYB14Q0maREOg",
  "tags": []
}