YOUTUBE (1).json
{
  "name": "YOUTUBE",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Промт'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1584,
        1424
      ],
      "id": "5e3c377e-1028-4433-b41f-2c500cd20773",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "__manual_user__",
        "userManual": "={{ $('Start').item.json.profile_username }}",
        "platform": [
          "youtube"
        ],
        "title": "={{ $('AI Agent2').item.json.output.split(\"$$$\").first() }}",
        "youtubeTitle": "=",
        "description": "=",
        "youtubeDescription": "={{ $('AI Agent2').item.json.output.split(\"$$$\").last() }}",
        "video": "={{ $('Start').item.json.video_url }}",
        "scheduledDate": "={{ $('Start').item.json.publish_at }}"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        1984,
        1472
      ],
      "id": "c6dcc8f0-5d9e-449f-ac51-3e9ee30c81dd",
      "name": "YT2",
      "retryOnFail": true,
      "credentials": {
        "uploadPostApi": {
          "id": "jd48dwDfUotaDjVa",
          "name": "Upload Post account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1424,
        1680
      ],
      "id": "1ea836e3-23ec-40c2-911a-e64a161a6fb3",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "U6IqUtord7rBEZ4q",
          "name": "Anton"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_path_split",
              "type": "any"
            },
            {
              "name": "video_path",
              "type": "any"
            },
            {
              "name": "profile_username",
              "type": "any"
            },
            {
              "name": "video_url",
              "type": "any"
            },
            {
              "name": "publish_at",
              "type": "any"
            },
            {
              "name": "video_md"
            }
          ]
        }
      },
      "id": "38ee4bfa-7e47-481e-8830-442c913dd61f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        384,
        1504
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "бот",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "4b0bc092-98b4-42fb-8599-2a1fe96af501"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Плати по МИРУ ТГ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "216e0edb-a87f-48f5-a07d-74cdc3cf1bf5",
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "LifeProtein",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Протеин"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "729f46ed-b6f3-4d28-9f83-897936e46396",
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "GQbox",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Зарядка"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa6e1fe8-4a87-499d-87b2-c5b7ea7c1703",
                    "leftValue": "={{ JSON.stringify($json.video_path) }}",
                    "rightValue": "REX",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REX"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        672,
        1472
      ],
      "id": "dd1ebc88-6de9-417f-b828-bbb5ec6b8e2a",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f8fe3d3-d281-4c33-a323-3b916bf56a2c",
              "name": "Промт",
              "value": "=Ты — эксперт по нативному женскому сторителлингу и SMM-копирайтингу, создающий готовые тексты под Reels.\n\n📌 ВХОДНЫЕ ДАННЫЕ\n\nПУТЬ К ВИДЕОФАЙЛУ:\n\n{{ $json.video_path }}\n\nОпредели тип сервиса автоматически:\n\nесли путь содержит:\ntg, telegram, bot, telebot, tgbot, ppworld, pp_miru\n→ Telegram-бот «плати по миру»\n\nесли путь содержит:\nya, yandex, ynd, market, y_service\n→ Яндекс-сервис\n\nесли ничего нет → Telegram (по умолчанию)\n\nОпредели имя автора:\n\nПапка в пути имеет формат:\nProject-<serviceType>-<ИмяАвтора>\n\nИмя — последняя часть после дефиса.\nЕсли имя отсутствует или выглядит техническим → игнорировать.\nЕсли имя есть → в конце добавлять #byИмяАвтора.\n\n🚫 ЖЁСТКИЙ ЗАПРЕТ\n\nНе писать:\n\nслужебные строки\nанализ\nрассуждения\nлогику\nповтор входных данных\nназвания папок\nзначения null\nслово «сценарий»\nслово «аналитика»\nничего, кроме финального текста\n\n🔥 ОБЩИЕ ПРАВИЛА ТЕКСТА\n\n— женский голос\n— живо, мягко, легко\n— короткие фразы\n— без тех терминов\n— без канцеляризмов\n— от первого лица\n— без повторов\n\n🔥 ХЭШТЕГИ\n\nСтарт всегда:\n#платипомиру #оплатазаграницей #путешествия\n\nДальше:\n\nЕсли Telegram:\n\n17 тематических → итого 20\n\nЕсли Яндекс:\n\n3–5 тематических (НО учитываем твой формат → всегда делаем именно 20)**\n→ Поэтому для Яндекса тоже будет 20 хэштегов, чтобы соответствовать твоему формату вывода.\n\nВ конце — #byИмяАвтора, если имя найдено.\n\n👉 ЛОГИКА КОНТЕНТА ДЛЯ РАЗНЫХ СЕРВИСОВ\nЕсли TELEGRAM-БОТ\n\n2–4 предложения:\n\n— рассказ от первого лица\n— упоминание: карту можно выпустить за 5 минут в Telegram\n— открыть Telegram → ввести «плати по миру» → зайти в бота\n— карта пополняется через СБП\n— подключается к Apple Pay\n— боль: не могу оплатить за границей / сервис / подписку\n— решение: бот помогает мгновенно\n\nЕсли ЯНДЕКС-СЕРВИС\n\n2–4 предложения:\n\n— упомянуть: пополнение через СБП\n— привязка к Apple Pay\n— путь оформления:\nОткрываем Яндекс → «плати по миру» → сайт → выпуск за 5 минут\n— выгоды: удобство, скорость, оплата зарубежных сервисов\n\n🔥 ФИНАЛЬНЫЙ ФОРМАТ ВЫВОДА (СТРОГО)\n\nТеперь ВСЕГДА выводи результат в таком виде:\n\n<Заголовок (3–7 слов)>\n$$$\n<2–4 предложения по логике выбранного сервиса + 20 хэштегов + #byИмяАвтора (если есть)>\n\n\nНикаких отклонений.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        1200
      ],
      "id": "38b341bf-e7c3-476f-b415-1479f4b9b748",
      "name": "Плати по миру ТГ"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c2798-26fc-468a-ab86-ac02ad5b7a74",
              "name": "Промт",
              "value": "=Ты — эксперт по нативному женскому сторителлингу, создающий тексты под Reels и лайфстайл-заметки.\nНа вход ты получаешь:\n\nВКУС продукта:\n{{ $json.video_path.split(\"/\")[3] }}\n\nПУТЬ К ФАЙЛУ:\n{{ $json.video_path }}\n\nИз пути выдели папку автора:\nона имеет формат: LifeProtein-<вкус>-<ИмяАвтора>\nИмя автора — последняя часть после дефиса.\nЕсли имени нет или оно выглядит техническим — просто игнорируй.\nЕсли имя есть — в самом конце добавляй персональный хэштег формата:\n#byИмяАвтора\n\n🚫 ЖЁСТКИЙ ЗАПРЕТ — НИКОГДА НЕ ПИСАТЬ:\n\nслужебные строки\n\nанализ входных данных\n\nрассуждения\n\nпояснения\n\nслово «сценарий»\n\nслово «анализ»\n\nисходные данные\n\nзначения null\n\nназвания папок\n\nчто-то кроме финального текста\n\n🔥 ФИНАЛЬНЫЙ ФОРМАТ ВЫВОДА (СТРОГО)\n\n<Заголовок (короткий, 3–7 слов, живой, женский)>\n$$$\n<Описание + хэштеги (20 шт) + #byИмяАвтора, если есть>\n\n🔥 ГЛАВНОЕ ПРАВИЛО:\n\nНезависимо от вкуса, это протеиновый напиток.\nЕсли вкус = «коллаген», использовать формулировку:\n«протеиновый напиток с коллагеном»\nНикогда не писать:\n❌ «попробовала коллаген»\n❌ «вариант с коллагеном»\n❌ любые перекусы\n\n👉 СЦЕНАРИЙ 1 — ШОКОЛАД\n\nТребования к описанию (часть после $$$):\n\nФормат: нативное описание от первого лица.\nТон: мягкий, честный, тёплый, без продаж.\n\nОбязательные элементы:\n\nупоминание: шоколадный протеиновый напиток\n\nартикулы: #WW194190, #1928680358\n\nсостояние «до» и «после»\n\nпочему решила попробовать\n\nчто удивило\n\nнативно: «нашла товар на marketplace»\n\nФинал:\n\nровно 20 уникальных русских хэштегов\n\nобязательный #протеин\n\nзапрещён #лайфпротеин\n\nхэштеги — максимум 2 слова\n\nпосле всех хэштегов → персональный #byИмяАвтора (если есть)\n\n👉 СЦЕНАРИЙ 2 — КОЛЛАГЕН\n\nФормат: 2–4 предложения, «как подруга».\n\nОбязательные элементы:\n\nбытовой контекст: офис, зал, дорога, утро/вечер, рутина, тренировка\n\nконкретная микроситуация\n\nстрого: «нашла на вб — #WW194193 и на озон — #600851565»\n\nпольза: порционные пакетики, отсутствие тяжести, ассорти вкусов, снижает тягу к сладкому\n\nпродукт всегда называть только: «протеиновый напиток с коллагеном»\n\nФинал:\n\n20 новых уникальных хэштегов (спорт, ПП, энергия, женский фитнес, здоровье)\n\nникаких повторов\n\nзатем #byИмяАвтора (если есть)\n\nФормат вывода:\n\n<Заголовок>\n$$$\n<Текст 2–4 предложения + хэштеги + #byИмяАвтора>\n\n👉 СЦЕНАРИЙ 3 — АССОРТИ ВКУСОВ\n\nФормат: 1 абзац, 3–4 предложения.\n\nСодержание:\n\nкак протеиновый напиток помогает в жизни\n\nснижает тягу к сладкому / даёт сытость / помогает вечером / баланс\n\nмягкая польза\n\nнативно упоминать «ассорти вкусов»\n\nартикулы:\n«Нашла на вб — #WW194189, ещё видела на озон — #600826593»\n\nТребования:\n\n450–700 символов\n\nестественный разговор\n\nбез профессиональных терминов\n\nне обещать похудения\n\nв конце ≥20 wellness-хэштегов, обязательно #протеин\n\nзатем → #byИмяАвтора (если есть)\n\nФормат вывода:\n\n<Заголовок>\n$$$\n<Абзац + хэштеги + #byИмяАвтора>\n\n📌 ОБЩИЕ ПРАВИЛА\n\nВсегда от первого лица, от девушки\n\nВсегда «протеиновый напиток»\n\nСтиль: мягкий, тёплый, нативный\n\nБез маркетинга, без слова «похудение»\n\nХэштеги всегда уникальны\n\nВ конце всегда пытаться добавить #byИмяАвтора, если имя найдено\n\nНикаких служебных данных во выводе\n\nВывод = только заголовок + $$$ + описание",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        1376
      ],
      "id": "7884ae32-bbfa-49b3-b378-7bc58fad2fd9",
      "name": "Промт протеин"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c2798-26fc-468a-ab86-ac02ad5b7a74",
              "name": "Промт",
              "value": "=ы — эксперт по нативному женскому сторителлингу, создающий короткие живые описания в формате реального женского отзыва о беспроводной зарядке 3-в-1.\n\nПиши легко, бытово, естественно — будто девушка делится находкой с подругой.\n\n📌 ВХОДНЫЕ ДАННЫЕ\n\nПуть к видеофайлу:\n\n{{ $json.video_path }}\n\n\nОпредели имя автора из пути.\nФормат папки:\nProject-Charger-<ИмяАвтора>\n\nЕсли имя найдено → в конце добавляй #byИмяАвтора.\nЕсли нет → ничего не добавляй.\n\n🚫 НИКОГДА НЕ ПИШИ:\n\nслужебные строки\nанализ\nрассуждения\nобъяснения\nслово «сценарий»\nзначения null\nназвания папок\nлюбые подсказки модели\n\nВывод — только итоговый текст в нужной структуре.\n\n🔥 СТРУКТУРА СОДЕРЖАНИЯ ТЕКСТА\n1-е предложение — бытовая сцена\n\nТема выбирается из списка:\nрабочий стол, прикроватная тумбочка, утро, вечер, мягкая подсветка, порядок, отсутствие проводов, аккуратный вид, зарядка трёх устройств сразу, подарок, сериал, спокойствие, рабочие ритуалы.\n\nВажно: сцена должна быть конкретной, как реальные жизненные наблюдения.\n\n2-е предложение — впечатление\n\nКороткий вывод:\nлюблю, удобно, аккуратно выглядит, не греется, меньше хаоса, всё заряжается до 100%, приятно пользоваться.\n\nВ конце второго предложения ОБЯЗАТЕЛЬНО:\n«Нашла на ВБ — #WW229434 и на Ozon — #1615196121.»\n\nТон — мягкий, женский, естественный.\nБез рекламы.\n\n🔥 ХЭШТЕГИ (строго 2 строки)\nСтрока 1 — базовые:\n\n#ключевое_слово #ключевое_слово #WW229434\n(ключевые по теме: уют, дом, техника, порядок)\n\nСтрока 2 — 18–20 хэштегов:\n\nТематика:\nуют, дом, минимализм, техника, зарядка, женский отзыв, порядок, лайфхаки, комфорт, Apple, станция3в1, рабочее место, подсветка, гаджеты, спальня, тумбочка, офис, кабели, аккуратность, вечерние ритуалы.\n\nПравила:\n– никаких повторов внутри генерации\n– не сокращать количество\n– не дублировать наборы между генерациями\n\nВ конце строки — #byИмяАвтора, если имя найдено.\n\n🔥 СМЫСЛОВОЙ КОРИДОР (строго соблюдать)\n\nОписываешь только бытовые, понятные ситуации:\nспальня, рабочий стол, утро/вечер, порядок, отсутствие проводов, мягкая подсветка, зарядка трёх устройств, комфорт, спокойствие, уходовые ритуалы, работа за компьютером, чистое пространство.\n\nЗапрещено:\nрекламный стиль\nдлинные фразы\nменять структуру\nопускать артикулы\nделать меньше хэштегов\n\n🔥 ФИНАЛЬНЫЙ ФОРМАТ ВЫВОДА (ТВОЙ ФОРМАТ)\n<Заголовок (3–7 слов)>\n$$$\n<2 предложения (строго по структуре)>\n<строка с 3 основными хэштегами>\n<строка с 18–20 доп. хэштегов + #byИмяАвтора, если есть>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1568
      ],
      "id": "c983e396-08d5-4216-8983-cda2b8ae837a",
      "name": "Промт зарядка"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c2798-26fc-468a-ab86-ac02ad5b7a74",
              "name": "Промт",
              "value": "=Ты — эксперт по нативному женскому сторителлингу. Создавай короткие, живые, бытовые описания продукта — как мини-заметки, будто девушка рассказывает подруге, когда и как использует этот продукт в реальной жизни.\n\n📌 ВХОДНЫЕ ДАННЫЕ\n\nПуть к файлу:\n\n{{ $json.video_path }}\n\n\nОпредели имя автора из пути:\nФормат:\nProject-Brownie-<ИмяАвтора>\n\nЕсли имя найдено → в конце хэштегов добавить #byИмяАвтора.\nЕсли нет → ничего не добавлять.\n\n🚫 НИКОГДА НЕ ПИШИ:\n\nслужебные строки\nаналитику\nрассуждения\nпояснения\nзначения null\nформат папок\nничего, кроме финального текста и хэштегов\n\n🔥 СОДЕРЖАТЕЛЬНАЯ СТРУКТУРА ТЕКСТА\n1️⃣ ПЕРВОЕ ПРЕДЛОЖЕНИЕ — СЦЕНА ИЗ ЖИЗНИ\n\nЖивая конкретная бытовая ситуация:\nдорога, работа, учёба, спортзал, утро, вечер с чаем, долгий день, машина, сумка, пауза между делами, мини-перекус, желание сладкого без срыва, спасение в плотном графике.\n\nНужен микроповод:\nудобно, хватает до обеда, помогает не тянуться к сладкому, спасает при занятости.\n\nКаждый текст — новая сцена.\n\n2️⃣ ВТОРОЕ ПРЕДЛОЖЕНИЕ — ВПЕЧАТЛЕНИЕ\n\nКороткий вывод:\nвкусно, удобно, хватает одного, мягкие, не приторные, экономят время, помогают не тянуться к булочкам.\n\nПосле этого обязательно:\n\nПромокод на Ozon «REX2026» — даёт скидку 20% на всю продукцию, артикул на OZON — #713021968, на WB — #WW218669.\n\n🔥 ХЭШТЕГИ (строго 2 строки)\n1-я строка — всегда:\n\n#брауни #ozon #713021968 #WW218669\n\n2-я строка — 15–20 хэштегов по тематике:\n\n#перекус #безсахара #ассорти #едаудобно #минидесерт #баланседа #спорт #энергия #каждыйдень #мягко #приятно #девушказож #едаивремя #активность #workoutgirl #заряд #sweetmoment #healthygirl #умныйперекус #быстроудобно\n\nЕсли найден автор → в конце второй строки добавить #byИмяАвтора.\n\n🔥 ТОН\n\nженский\nмягкий\nестественный\nразговорный\nкак подруга делится находкой\nбез сложных конструкций\nбез рекламы в лоб\n\n🌿 ВАЖНО\n\nкаждый текст уникальный\nновая микросцена каждый раз\nничего не повторять\nстрого соблюдать структуру\n\n🔥 ФИНАЛЬНЫЙ ФОРМАТ ВЫВОДА (ТВОЙ ФИРМЕННЫЙ)\n<Заголовок (3–7 слов)>\n$$$\n<2 предложения по структуре>\n<строка #брауни #ozon #713021968 #WW218669>\n<строка из 15–20 хэштегов + #byИмяАвтора, если есть>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        1824
      ],
      "id": "a7e456dd-b27f-45d9-82b9-c6e4cb19e3ea",
      "name": "Промт REX"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://cloud-api.yandex.net/v1/disk/resources",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $json.video_path }}"
            },
            {
              "name": "permanently",
              "value": "true"
            },
            {
              "name": "md5",
              "value": "={{ $json.video_md5 }}"
            },
            {
              "name": "force_async",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xDUkIsTGLrFOyDR4vyjFVprcWtJyQ49C_x4r4XoU82ZPru4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        1904
      ],
      "id": "d009f24f-c277-4991-9521-0b4836bc1b91",
      "name": "Удаление1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://cloud-api.yandex.net/v1/disk/resources",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $('Start').item.json.video_path }}"
            },
            {
              "name": "permanently",
              "value": "true"
            },
            {
              "name": "md5",
              "value": "={{ $('Start').item.json.video_md }}"
            },
            {
              "name": "force_async",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xDUkIsTGLrFOyDR4vyjFVprcWtJyQ49C_x4r4XoU82ZPru4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        1264
      ],
      "id": "77f24d7e-a16a-4d5e-af69-7e383ee1e0ec",
      "name": "Удаление",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f5e0998-d346-49e5-9c4d-f08f49e0f045",
              "name": "video_path",
              "value": "={{ $('Start').item.json.video_path }}",
              "type": "string"
            },
            {
              "id": "a4b44b79-9cc6-4441-8c2b-08a6be5c87cc",
              "name": "profile_username",
              "value": "={{ $('Start').item.json.profile_username }}",
              "type": "string"
            },
            {
              "id": "1a0a3c40-4ea1-4e22-963c-506c1ece73c4",
              "name": "video_md",
              "value": "={{ $('Start').item.json.video_md }}",
              "type": "string"
            },
            {
              "id": "ed5182fb-96f0-4a61-9d09-91bc95e79e17",
              "name": "video_path_split",
              "value": "={{ $('Start').item.json.video_path_split }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        1552
      ],
      "id": "0c5f40eb-72bd-4af2-b8aa-54dce1395236",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "video_path_split": "GQbox",
          "video_path": "disk:/ВИДЕО/Toplash (Бьюти)/GQbox/Зарядка-МашаПлетнева/2594430220236254035.mp4",
          "profile_username": "Toplash22",
          "video_url": "https://downloader.disk.yandex.ru/disk/485f919d904afd4d711ce0b4a823c11577addcb0ac8de6b3f36efaa878d9ddbf/693a97f8/NcSTVbf23iRl7Uk4veI9yUJ2zFxdoOG6KVQm02P9RK9L07MUOsJwQAGnNyTom5QA1sNEnhZ8RLhoK1bE3ieeSQ%3D%3D?uid=40028244&filename=2594430220236254035.mp4&disposition=attachment&hash=&limit=0&content_type=video%2Fmp4&owner_uid=40028244&fsize=33470083&hid=4b29bc89a2018e836515d074b73590d4&media_type=video&tknv=v3&etag=26e31a6251e707276250c9629bbfc32d",
          "publish_at": "2025-12-11T18:43:17.540Z",
          "video_md": "26e31a6251e707276250c9629bbfc32d"
        }
      }
    ]
  },
  "connections": {
    "AI Agent2": {
      "main": [
        [
          {
            "node": "YT2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Плати по миру ТГ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Промт протеин",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Промт зарядка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Промт REX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Плати по миру ТГ": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Промт протеин": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Промт зарядка": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Промт REX": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT2": {
      "main": [
        [
          {
            "node": "Удаление",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fff8a9e-355b-409e-b9c7-cb0f34c809fe",
  "meta": {
    "instanceId": "8fbaf9cc31ee8207c14f521e964eb85fad125c400327140a73864621efa3e2b9"
  },
  "id": "YBceZCqhYuWTMivi",
  "tags": []
}